bm_backup_manager:
  database:
    contao:
      dsn: '%env(DATABASE_URL)%'
      ignoreTables: ['tl_undo', 'tl_session', 'tl_search_index', 'tl_search_term', 'tl_search', 'tl_log', 'tl_cron_job']

  storage:
    local:
      type: Local
      root: '%kernel.project_dir%/backups'
